.item_animated:hover {
	margin-top: 3rem !important;
	margin-bottom: -2rem !important;
	animation: myAnim 2s ease 0s 1 normal forwards;

}

@keyframes myAnim {
	0% {
		animation-timing-function: ease-in-out;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in-out;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in-out;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in-out;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}


	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}

/* -----------------MEDIA QUERIES----------- */
@media (max-width: 500px) {
	.container {
		margin: 0 !important;
	}

	.proyectsList {
		display: grid !important;
		grid-template-rows: .9fr .9fr .9fr !important;
		;
		width: 95vw !important;
		margin: auto !important;
		margin-top: 2rem !important;
	}

	.proyectsList div {
		margin-top: .5rem !important;
	}
}

@media (max-width: 720px) {
	.container {
		margin: 0 !important;
	}

	.proyectsList {
		display: grid !important;
		grid-template-rows: .9fr .9fr .9fr !important;
		;
		width: 95vw !important;
		margin: auto !important;
		margin-top: 2rem !important;
	}

	.proyectsList div {
		margin-top: .9rem !important;
	}
}