.img-profile  img{
      width:80% !important;
      height:90%  !important;
      /* margin-top: -5rem !important; */
}
.about {
      background-color: linear-gradient(rgb(0,113,86), rgb(194,195,200),
rgb(154,215,92)) !important;
}
.bg-custum{
      background-color: rgb(0,202,171) !important;
}

@media (max-width: 500px) {
      
      #about{
            display: block !important;
      }
      .me-info {
            width: 90vw !important;
      }
      .me-photo img {
            visibility: hidden;
            margin-top: -70% !important;
      }
      h5 {
            font-size: 2rem!important;
      }
      .me-description{
            width: 90vw;
            margin: auto !important;
      }
}