/* .wave-top {
    margin-top: -3.5%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
} */

@media (max-width: 500px) {
    .App {
        background-color: rgba(226, 226, 226, 0.2);
    }
}